body {
    min-block-size: 100vh;
    place-items: center;
    background-color: rgb(24, 80, 41);
    background-image: url(assets/images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: (3, 1fr);
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.card {
    display: grid;
    width: 26%;
    height: 350px;
    padding: 50px 20px;
    text-align: center;
    background-size: cover;
    background-position: center bottom;
    transition: 0.7s;
    overflow: hidden;
    border-radius: 10px;
    align-items: end;

    &:hover {
        background-position: 50% 50%;
    }

    .card-content {
        display: grid;
        gap: 5px;
        transform: translateY(90%);
        transition: 0.7s;
        color: aliceblue;

        h2 {
            margin: auto;
        }

        p {
            font-family: serif;
            line-height: 1.8;
            font-size: 1.625rem;
            font-style: italic;
            opacity: 0;
            transition: .7s;
            margin: auto;
        }
    }

    .button {
        justify-content: center;
        background-color: maroon;
        text-decoration: none;
        color: aliceblue;
        padding: 1rem 0.8rem;
        font-weight: 500;
        transition: .2s;

        &:hover {
            background-color: rgb(255, 36, 36);

        }
    }
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 100px;
}

.card:hover .card-content {
    transform: translateY(0);
}

.card:hover p {
    opacity: 1;
}

.pop-up {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.55);
    left: 0;
    top: 0;
    transition: 0.3s ease-in-out;
    z-index: 9999 !important;
    animation: fadeIn 0.4s ease-out;
    width: 100%;
    height: 100%;
}

.pop-up-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #8b0000, #b30000);
    text-align: center;
    border-radius: 10px;
    animation: slideDown 0.35s ease-out;
    transition: 0.7s;

    h2 {
        margin-top: 0;
        font-family: "Georgia", serif;
        font-size: 26px;
        color: #fff;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    }

    p {
        margin: 12px 0 18px;
        font-size: 16px;
        line-height: 1.4;
    }

    .button {
        margin-bottom: 25px;
    }
}

#closePopUp:hover {
    background: #ffdada;
    transform: scale(1.05);
    transition: 0.7s;
}